{% extends 'base.html.twig' %}

{% block body %}
    <div class="container edit2">
            <div class="title_edit">
                <h1>Edition</h1>
            </div>

            <div class="content_edit">
                {{ form_start(edit_form) }}
            </div>

            <div class="content_edit_2">
                {{ form_widget(edit_form) }}
            </div>

            <div class="content_edit_submit">
                <input type="submit" value="Edit" />
            </div>

            <div class="content_edit_3">
                {{ form_end(edit_form) }}
            </div>

            <div class="content_delete">
                {{ form_start(delete_form) }}

                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>

            <div class="return_index">
                <a href="{{ path('vdmclass_index') }}">Retour à l'acceuil</a>
            </div>


    </div>
{% endblock %}
