{% extends 'base.html.twig' %}

{% block body %}

    <div class="container div">

        {% for vdmClass in vdmClasses %}

            <div class="col-xs-offset-1 col-xs-11 content">

                        <div class="col-xs-offset-1 col-xs-19 text">
                            <a href="{{ path('vdmclass_show', { 'id': vdmClass.id }) }}">{{ vdmClass.id }}
                            </a>
                            {{ vdmClass.content }}
                        </div>

                        <div class="col-xs-offset-1 col-xs-3 date">Date :
                            {% if vdmClass.datePost %}{{ vdmClass.datePost|date('Y-m-d') }}{% endif %}
                        </div>
                            <div class="col-xs-offset-1 col-xs-4 cat">Catégorie :
                            {{ vdmClass.category }}
                            </div>
            </div>
                        <div class="content_btn">
                            <ul>
                                <li>
                                    <div class="col-xs-offset-5 col-xs-2 btn"><a href="{{ path('vdmclass_show', { 'id': vdmClass.id }) }}">Voir</a>
                                    </div>
                                </li>

                                <li>
                                    <div class="col-xs-offset-1 col-xs-2 btn"> <a href="{{ path('vdmclass_edit', { 'id': vdmClass.id }) }}">Edit</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                {% endfor %}

                        <div class="col-xs-offset-8 col-xs-4 add_vdm">
                             <ul>
                                 <li>
                                    <a href="{{ path('vdmclass_new') }}"> >>>>>"Ajoute une Galère à Sebastien"<<</a>
                                 </li>
                             </ul>
                        </div>
    </div>
{% endblock %}
